<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>

        <li>
            <a href="#">Propietaris</a>
            <ul class="hidden">
                <li><a href="index.php?menu=mascota&option=form_buscar_mascotes">Buscar mascotes</a></li>
                <li><a href="index.php?menu=propietari&option=form_smoddel">Modify</a></li>
                <li><a href="index.php?menu=propietari&option=list_all">List all</a></li>
            </ul>
        </li>

        <li>
            <a href="#">Mascotes</a>
            <ul class="hidden">
                <li><a href="index.php?menu=lineaHistorial&option=form_search">Buscar</a></li>
                <li><a href="index.php?menu=lineaHistorial&option=list_all">List Mascotes</a></li>
                <li><a href="index.php?menu=lineaHistorial&option=form_add">Afegir una LineaHistorial</a></li>

            </ul>
        </li>
    </ul>
</nav>
